<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="watchlist" value="taskstowatch.json"/>
    <add key="txtFile" value="M:/tSchedule/" />
    <add key="serverName" value="test"/>
    <add key="sendTo" value="jimmy@robbins.com"/>
    <add key="cc" value="john@doe.com, jim@doe.com"/>
    <add key="mailHost" value="10.180.56.50"/>
    <add key="mailFrom" value="admin@admin.com"/>
  </appSettings>
  
  
</configuration>